.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-bottom: 90px;
}

.nav {
    &__list {
        display: flex;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-right: 35px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        color: $main-color;
        text-decoration: none;
        font-size: 18px;
        line-height: 22px;

        &:hover {
            color: $accent-color;
        }
    }
}