.news-detail {
    display: grid;
    grid-template-columns: 420px 1fr;
    grid-column-gap: 30px;

    &__source {
        margin: 0;
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color: $main-color, $alpha: 0.5);
    }

    &__date {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color: $main-color, $alpha: 0.5);
    }

    &__day {
        font-size: 30px;
        line-height: 37px;
        color: rgba($color: $main-color, $alpha: 1);
    }

    &__description {
        font-size: 25px;
    }
}
