body {
    min-height: 100%;
    margin: 0;
    background-color: white;
}

.app {
    font-family: $main-font;
    color: $main-color;
}

.main-wrapper {
    max-width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}