@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/ProximaNova-Regular.woff2") format("woff2"), url("./fonts/ProximaNova-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("./fonts/ProximaNova-Bold.woff2") format("woff2"), url("./fonts/ProximaNova-Bold.woff") format("woff");
}

$main-color: #333D51;
$accent-color: #004FEC;

$main-font: 'Proxima Nova', Arial, sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
