.contacts {
    &__wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }

    &__tel {
        margin-bottom: 50px;
        display: block;
        font-size: 60px;
        color: $accent-color;
        text-decoration: none;
    }

    &__name-wrap {
        margin-bottom: 25px;
        padding-left: 23px;
        border-left: 2px solid $accent-color;
    }

    &__name {
        margin: 0;
        font-size: 25px;
        line-height: 30px;
    }

    &__email {
        margin-bottom: 52px;
        display: block;
        color: $main-color;
        text-decoration: none;
        font-size: 20px;
        line-height: 24px;
    }

    &__proff {
        margin: 0;
        margin-bottom: 25px;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color: $main-color, $alpha: 0.5);
    }

    &__skills {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: $main-color;
    }

    &__last-skill {
        color: $accent-color;
    }

    
}