.main-page {

    &__block {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 60px;
    }
    &__link {
        margin: 0;
        font-size: 20px;
        color: $accent-color;
        text-decoration: none;
    }
}