.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 90px;

    &__left-text {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
    }

    &__text {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
    }
}

.author {
    &__text {
        margin: 0;
        font-size: 12px;
        line-height: 15px;
        text-align: end;
    }

    &__link {
        font-weight: bold;
        text-decoration: none;
        font-size: 25px;
        line-height: 30px;
        color: $main-color;

        &:hover {
            color: $accent-color;
        }
    }
}