.news-item {
    width: 350px;
    min-height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;

    &__link {
        margin: 0;
        padding-left: 23px;
        font-size: 25px;
        line-height: 30px;
        text-decoration: none;
        color: $main-color;
        border-left: 2px solid $accent-color;

        &:hover {
            color: white;
            background-color: $accent-color;
            cursor: pointer;
        }
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 25px;
    }

    &__source {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color: $main-color, $alpha: 0.5);
    }

    &__date {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        color: rgba($color: $main-color, $alpha: 0.5);
    }

    &__day {
        font-size: 30px;
        line-height: 37px;
        color: rgba($color: $main-color, $alpha: 1);
    }
}